@tailwind base;
@tailwind components;
@tailwind utilities;

.main-screen {
  @apply min-h-screen w-screen dark:bg-gray-900 dark:text-white;
}

.button-1 {
  @apply bg-purple-500 hover:bg-purple-700 active:bg-purple-900 dark:text-white font-bold py-2 px-4 rounded;
}

.basic-input {
  @apply block px-2.5 pb-2.5 pt-6 rounded-xl appearance-none text-xl w-full dark:bg-gray-800 disabled:dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:focus:border-purple-500 focus:outline-purple-600 focus:ring-0 focus:border-purple-600;
}
